body {
    background-color: darkslategray;
}

.header {
    background-color: indianred;
    text-align: center;
    height: 100px;
    color: whitesmoke;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.header h4 {
    margin-top: -15px;
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
}

.table-container, .inputs {
    border: 2px solid gray;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.title {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.form-group {
    margin: 0 auto;
    padding-bottom: 10px;
}

#submitbutton {
    background-color: indianred;
    color: white;
}

th, td {
    text-align: center;
}

.btn-danger {
    height: 20px;
    padding: 0px 12px;
}